.Header {
    display: flex;
    flex-direction: row;
    background-color: #393939;
    height: 100px;
    .Logo {
        display: flex;
        align-items: center;
        color: #ffffff;
        padding: 30px;
    }
    .Navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 30px;
        gap: 50px;
        margin-left: auto;
        align-items: center;
    }
}
