@import "./Styles.scss";

.CardHolder {
    background-color: #5a75ff;
    padding: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .Title {
        padding: 0px;
        h2 {
            margin: 0px;
            color: white;
        }
    }
    .Content {
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
        gap: 30px;
    }
}
