@import "Styles.scss";

.NavButton {
    display: block;
    padding: 10px;
    height: fit-content;

    background: #393939;
    border: 5px solid #5a75ff;
    border-radius: 10px;

    h3 {
        margin: 0;
        color: #5a75ff;
    }
}
