.Paragraph {
    padding: 30px;
    display: flex;
    flex-direction: column;
    h2,
    h3,
    h4,
    p {
        margin: 0px;
    }
    .Children {
        display: flex;
        flex-direction: row;
        gap: 100px;
    }
}
