.Socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    gap: 25px;
    background: #ffffff;

    div {
        background-color: black;
        width: 40px;
        height: 40px;
    }
}
