h1 {
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 170px;
    line-height: 206px;
    margin: 0px;
}

h2 {
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 125px;
    line-height: 151px;
}

h3 {
    font-family: "Gilroy";
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

h4 {
    font-family: "Gilroy";
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

h5 {
}

h6 {
}

p {
}

span {
}
