@import "Styles.scss";
.Title {
    padding: 30px;
    h1 {
        white-space: nowrap;
    }
    span {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 170px;
        line-height: 206px;
        color: #5a75ff;
        margin: 0px;
        animation: 1.5s cubic-bezier(0, 0.5, 0, 1) 0s 1 slideInFromLeft;
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0%;
        margin-left: 100vw;
    }
    100% {
        margin-left: 0px;
        opacity: 100%;
    }
}
