.Education {
    h1 {
        margin: 0px;
        color: white;
    }
    background-color: #5a75ff;
    .Subtitle {
        color: white;
    }
    .Content {
        display: flex;
        flex-direction: row;
    }
}
