h1 {
    font-family: "Cooper Black";
    font-weight: 200;
    font-size: 200px;
    line-height: 287px;
    margin: 0;
    color: #417154;
}

h2 {
    font-family: "Cooper Black";
    font-weight: 200;
    margin: 0;
}

.App {
    background-color: #e5d7b4;
    height: 100vh;
}
